<div class="container color-dark">
	<div class="col">
		<p>Add new</p>
	</div>
	<div class="col">
		<p>List ( {{toDoList.length}} )</p>
	</div>
</div>

<div class="container color-light">
	<div class="col">
	    <p class="sm">form to add new?</p>

	    <form>
	      <input type="text" class="txt" name="item" placeholder="{{placeHolderText}}" [(ngModel)] = "toDoItem">
	      <input type="submit" class="btn" [value]="submitText" (click)="addItem()">
	    </form>
	 </div>
  	<div class="col">
    	<p class="life-container" *ngFor="let td of toDoList">
      		{{td}}
    	</p>
  </div>
</div>