<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to angular root component
  </h1>
</div>

<h4>Following are other angular component via Router Links</h4>
<ul>
  <li>
    <h4><a routerLink="todo">To Do</a></h4>
  </li>
  <li>
    <h4><a routerLink="contactUs/showMeYourHomeAddress">Contact Us</a></h4>
  </li>
</ul>

<h4>Following are other angular component via prgramatic Router Navigation</h4>
<ul>
  <li>
    <input type="button" class="btn" value="ToDo" (click)="navigateToDo()">
  </li>
  <li>
    <input type="button" class="btn" value="ContactUs" (click)="navigateContactUs()">
  </li>
</ul>

<h4> router-outlet where angular injects content of a new route, which starts from line below.</h4>
<p>Click any of above links or buttons</p>
<router-outlet></router-outlet>

<h4> Includes any component without a router, which starts from line below. </h4>
<app-footer></app-footer>