<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to root component
  </h1>
</div>
<h2>Following are other component </h2>
<ul>
  <li>
    <h2><a routerLink="about">About</a></h2>
  </li>
  <li>
    <h2><a routerLink="contactUs">Contact Us</a></h2>
  </li>
</ul>

<!-- How to nest one component into another, work like ng-include in angular 1.x -->
<app-about></app-about>
<app-contact-us></app-contact-us>
<app-to-do></app-to-do>
<router-outlet></router-outlet>
